.hur{
    font-size: 4em;
    text-align: center;
    color: darkmagenta;
    margin-left: 10em;
    margin-right: 10em;
}


body{
    background-image: url(https://cdn.pixabay.com/photo/2018/02/23/12/38/flower-3175428_960_720.jpg);
    background-size: cover;
    background-repeat: none;
}

.hap{
    text-align: center;
    font-size: 3em;
    color: darkblue;
    margin-left: 10em;
    margin-right: 10em;
}
.nana{
    text-align: center;
font-size: 5em;
font-style: italic;
color:crimson;
margin-left: 5em;
    margin-right: 5em;
}
.may{
    font-size: 2em;
    text-align:center;
    margin-left: 10em;
    margin-right: 10em;
    background-color:rgba(10%,15%, blue, 0.2);
    
}
.cheer{
    text-align: center;
    font-size: 2em;
    font-style: oblique;
    margin-left: 10em;
    margin-right: 10em;

}
.kha{
    font-size: 1em;
    color:blue;
    font-style: italic;
    font-weight: bolder;
    margin-top: 200px;
}

@media screen and (max-width:375px) {
    .hap, .hur,.may, .nana, .cheer, .kha, body{
      width:100%; 
      font-size: 40px;
      text-align: center;
      align-items: center;
    }
  }
  @media screen and (max-width:768px) {
    .hap, .hur,.may, .nana, .cheer, .kha{
      width:100%; 
      font-size: 30px;
    text-align: center;
    align-items:center;
    }

  }
  

