.hur{
    font-size: 4em;
    text-align: center;
    color: darkmagenta;
}


body{
    background-image: url(https://cdn.pixabay.com/photo/2018/02/23/12/38/flower-3175428_960_720.jpg);
    background-size: cover;
    background-repeat: none;
}

.hap{
    text-align: center;
    font-size: 3em;
    color: darkblue;
}
.nana{
    text-align: center;
font-size: 5em;
font-style: italic;
color:crimson;
}
.may{
    font-size: 2em;
    text-align:center;
    margin-left: 10em;
    margin-right: 10em;
    background-color:rgba(10%,15%, blue, 0.2);
    
}
.cheer{
    text-align: center;
    font-size: 2em;
    font-style: oblique;
}
.kha{
    font-size: 1em;
    color:blue;
    font-style: italic;
    font-weight: bolder;
}

@media screen and (max-width:375px) {
    .hap, .hur,.may, .nana, .cheer, .kha, body{
      width:100%; 
      font-size: 20px;
    }
  }
  @media screen and (max-width:768px) {
    .hap, .hur,.may, .nana, .cheer, .kha, body{
      width:100%; 
      font-size: 20px;
    }
  }
  

